@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #f55617;
    --secondary-color: #7efa2c;
}
body{
    
    font-family:'Crimson Text', serif;
    
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    min-height: 10vh;
    
}
.toggle-btn button{
    padding: 10px 20px;
    background-color: #000;
    color: orangered;
    border: 2px solid orangered;
    outline: none;
    border-radius: 50px;
}
.logo{
    font-size: 2em;
    font-style: italic;
    
}
ul{
    display: flex;
    list-style: none;
    
    margin:0;
    padding: 0;
}
ul li{
    padding-left: 50px;
}
ul li a{
    text-decoration: none;
    font-size: 1.3em;
    margin-bottom: 2px;
    display: block;
    
}

ul li a:hover{
   
    border-bottom:2px solid #f55617;
}
.main-title{
    color: var(--primary-color);
    text-align: center;
    margin: 20px auto;
    font-size: 1.5em;
}
.title{
    margin-top: 15px;
}

.btn{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle{
    display: none;
}
.menu{
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    font-size: 30px;
    
    color:#f55617;
    
}
.fas{
    color: #f55617;
}
.intro{
margin: 20px auto;
text-align: center;
width: 60%;
letter-spacing: 0.2px;
line-height: 1.3em;
font-size: 1.3em;
}
.search-button{
    padding: 12px 100px;
    width: 400px;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
    outline: none;
    font-size: 1.4em;
    background-color: var(--primary-color);
    position: relative;
    transition: color 300ms ease-in-out;
    z-index:1;
    margin-bottom: 40px;
   
   
}
.search-button:hover{
    color: #f55617;
    font-weight: 500;
}
.search-button::before{
content: '';
position: absolute;
top: 0;
left: 0;
bottom:0;
right:0;
background-color: #fff;
z-index: -1;
translate: scaleY(0);
border-radius: 50px;
transition: transform 0.3s ease-in-out;
transform:scaleY(0);
transform-origin:top;

}
.search-button:hover::before{
    transform:scaleY(1);
}
.slider{
    text-align: center;
    margin: 30px auto;
}
.slide-show{
    width: 600px;
    height: 300px;
    border: 2px solid #fff;
    border-radius: 2px;
    margin: 20px auto;
}
#contact{
    display: flex;
    justify-content:space-around;
    
    
}
#contact div .icon{
    line-height: 50px;
}
.icon{
    
    color: #000;
    font-size: 20px;
    margin: 20px 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#fff;
    text-align: center;
    transition: .6s;
    box-shadow:  0 2px 3px rgba(231,81,43,1);
}
.icon:hover{
    transform: translate(0, -10px);
    color: #f55617;

}
/* dark mode effect */
.dark-mode{
    background-color:#000;
    color:#fff;
}


@media only screen and (max-width:600px){
    .toggle{
        display: flex;
    }
nav{
    text-align: center;
}
.main-nav{
    align-items: flex-start;
    height: 160px;
    text-align: center;
    flex-direction: column;
    display: none;
    
   }
   
    .main-nav ul{
         text-align: center;
        
        top: 10vh;
        margin-top:20px;
        position: absolute;
        flex-direction: column;
    }
     
    ul li{
    padding: 10px 12px;
        text-align:center;
      
    }
    ul li a{
        width: 100%;
    }
    .main-nav.active{
        display: block;
    }
    .home-page{
        display: grid;
        grid-template-columns: 1fr;
    }
    .intro{
        font-size: 1.2em;
    }
    .slider{
        text-align: center;
    }
    .slide-show{
        width: 370px;
        height: 200px;
        margin: 40px auto;

    }
    .search-button{
        width: 350px;
        font-size: 1.2em;
        padding: 10px 40px;
    }
    #contact{
        flex-direction: column;
        text-align: center;
    }
    #contact div .icon{
        line-height: 40px;
    }
    .icon{
        margin: 20px auto;
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
   
   
    
}